*.tfstate
.vscode
*.log
*.pot
*.pyc
__pycache__/
.env
db.sqlite3
google.json
*x4
*x5
lock.json
*.backup
aws.json
**/virtualenv3/
am_static
cloudcluster_media/
**/myenv/
**/myenv2/
server/cloudcluster/v1_0_0/ansible/playbooks/create_kubernetes_user/k8s-users/
static/
docker-compose/mysql
docker-compose/.ssh
docker-compose/vault/data
docker-compose/vault/vault-init.json
docker-compose/daiteap_dns_credentials.json
