clouds:
  openstack:
    auth:
      auth_url: {{ AUTH_URL }}
      application_credential_id: {{ APPLICATION_CREDENTIAL_ID }}
      application_credential_secret: {{ APPLICATION_CREDENTIAL_SECRET }}
    region_name: {{ REGION }}
    interface: {{ INTERFACE }}
    identity_api_version: {{ IDENTITY_API_VERSION }}
    insecure: true
    verify: false
