{
    "cloud":"AzurePublicCloud",
    "tenantId": "{{ tenantId }}",
    "aadClientId": "{{ aadClientId }}",
    "aadClientSecret": "{{ aadClientSecret }}",
    "subscriptionId": "{{ subscriptionId }}",
    "resourceGroup": "{{ resourceGroup }}",
    "location": "{{ location }}",
    "subnetName": "internal",
    "routeTableName": "{{ routeTableName }}",
    "securityGroupName": "{{ securityGroupName }}",
    "vnetName": "{{ vnetName }}",
    "vnetResourceGroup": "{{ vnetResourceGroup }}",
    "useInstanceMetadata": true,
    "primaryAvailabilitySetName": "{{ primaryAvailabilitySetName }}"

}