#
# LDAP Defaults
#

# See ldap.conf(5) for details
# This file should be world readable but not world writable.

BASE    {{ ldap_base_dn }}
URI     ldaps://{{ krb_server_hostname }}:636

#SIZELIMIT      12
#TIMELIMIT      15
#DEREF          never

TLS_CACERTDIR   /etc/openldap/certs
TLS_REQCERT allow

# Turning this off breaks GSSAPI used with krb5 when rdns = false
# SASL_NOCANON    on